#grid-container {
   display: flex;
   flex-wrap: wrap;
   width: 500px;
   height: 500px;
   background-color: white;
}

.grid-item {
   width: calc(100% / 16);
   box-sizing: border-box; 
   border: 1px solid #ccc; 
   flex-wrap: wrap;
}

#main-container {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   position: relative;
   margin-top: 100px;
}

#tablet {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: lightblue;
   border-radius: 25px;
   width: 750px;
   height: 700px;
}

#tablet h2 {
   font-size: 2em;
   padding: 10px;
   color: #EA4C89;
   font-family: 'Lobster', cursive;
}


body {
   background-image: url("./images/a.jpg");
   background-size: auto;
}

.button-1 {
   background-color: #EA4C89;
   border-radius: 8px;
   border-style: none;
   box-sizing: border-box;
   color: #FFFFFF;
   cursor: pointer;
   display: inline-block;
   font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 14px;
   font-weight: 500;
   height: 40px;
   line-height: 20px;
   list-style: none;
   margin: 0;
   outline: none;
   padding: 10px 16px;
   position: relative;
   text-align: center;
   text-decoration: none;
   transition: color 100ms;
   vertical-align: baseline;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
   background-color: #F082AC;
}

#controls {
   display: flex;
   flex-direction: column;
   padding: 10px;
   box-sizing: border-box; 
   border: 15px solid lightblue;
   background: lightblue;
   border-radius: 25px;
   margin: 20px;
   gap: 10px;
}

#pick-container {
   color: #EA4C89;
   font: 1em 'Lobster', cursive;
   font-weight: bold;
}

